<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}RYTHMGAN{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">Results</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">Contact</a></li>
      <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/498531849&color=%236d4094&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://facebook.com/austin.abeyta" class="social-links"><i class="social-icons fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://plus.google.com/{{site.google-plus}}" class="social-links"><i class="social-icons fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://github.com/Austin-Abeyta" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>

